<h1>
  Movie #<%= @the_movie.id %> details
</h1>

<a href="/movies" class="btn btn-block btn-outline-secondary">
  Go back
</a>

<hr>

<% if session.fetch(:user_id) != nil %>
  <% if Bookmark.where({ :user_id => session.fetch(:user_id), :movie_id => @the_movie.id }) == nil %>
    <form action="/insert_bookmark" method="post">
      <input type="hidden" value="<%= @the_movie.id %>" id="movie_id_box" name="query_movie_id">
      <button>Bookmark this movie!</button>
    </form>
  <% else %>
    <a href="">Un-bookmark</a>
  <% end %>
<% end %>

<dl>
  <dt>
    Title
  </dt>
  <dd>
    <%= @the_movie.title %>
  </dd>

  <dt>
    Year
  </dt>
  <dd>
    <%= @the_movie.year %>
  </dd>

  <dt>
    Duration
  </dt>
  <dd>
    <%= @the_movie.duration %>
  </dd>

  <dt>
    Description
  </dt>
  <dd>
    <%= @the_movie.description %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @the_movie.image %>">
  </dd>

  <dt>
    Director
  </dt>
  <dd>
    <%= @the_movie.director.name %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= @the_movie.created_at %>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= @the_movie.updated_at %>
  </dd>
</dl>

<hr>
