<h1><%= @the_user.first_name %> <%= @the_user.last_name %>'s bookmarks</h1>

<form action="/insert_bookmark" method="post">
  <label for="movie_bookmark"></label>
  
  <select id="movie_bookmark" name="query_movie_id">
    <% Bookmark.all.each do |a_bookmark| %>
      <option value = "<%= a_bookmark.movie_id %>">
        <%= a_bookmark.movie.title %>
      </option>
    <% end %>
  </select>

  <button>Bookmark this movie!</button>

</form>

<hr>

<table border="1">
  <tr>
    <th>Movie</th>
    <th>Created at</th>
    <th></th>
  </tr>

  <% @the_user.bookmarks.each do |a_bookmark| %>
    <tr>
      <td>
        <a href="/movies/<%= a_bookmark.movie.id %>"> <%= a_bookmark.movie.title %> </a>
      </td>
      <td>
        <%= time_ago_in_words(a_bookmark.created_at) %> ago
      </td>
      <td>
        <a href="/delete_bookmark/<%= a_bookmark.id %>">Un-bookmark</a>
      </td>
    </tr>
  <% end %>


</table>